* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    background-color: #000;
  }
}

.header {
  background-image: url(/header/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 236px;
  height: 35px;
}

.button-info {
  background-color: #fff;
  border-radius: 18px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.navbar-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 0.129;
}

.navbar-wrap {
  padding: 32px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 368px;
}

.navbar-contacts__number {
  color: #fff;
  font-size: 14px;
}

.navbar-contacts__button {
  color: #42349A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 26px 9px 16px;
}

.navbar-contacts__img {
  margin-right: 10px;
}

.carpets {
  padding-top: 65px;
  padding-bottom: 0px;
}

.carpets-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carpets-info {
  width: 580px;
}

.carpets-info__text {
  font-size: 16px;
  color: #2c2c2c;
  line-height: 1.5;
  text-align: left;
  max-width: 445px;
  display: inline-block;
  margin-bottom: 60px;
}

.carpets-title {
  font-size: 44px;
  font-family: "Impact", "Charcoal", sans-serif;
  line-height: 1.636;
  font-weight: 300;
  text-align: center;
  color: #B53A3A;
}

.carpets-title_heading {
  margin-bottom: 55px;
}

.carpets-title__span {
  color: #fff;
  background-color: #B53A3A;
  border-radius: 20px;
  padding: 10px 14px;
}

.carpets-title__price {
  color: #5C378F;
}

.carpets-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 230px;
      grid-template-columns: 200px 230px;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  row-gap: 28px;
}

.carpets-advantages_block {
  margin-bottom: 58px;
}

.carpets-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carpets-advantages__img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}

.carpets-advantages__text {
  font-size: 14px;
  color: #010101;
  line-height: 1.429;
  text-align: left;
}

.carpets-footer {
  font-size: 10px;
  color: rgba(44, 44, 44, 0.6);
  text-transform: uppercase;
  line-height: 2.4;
  text-align: left;
  opacity: 0.6;
}

.carpets-footer__text {
  margin-right: 13px;
}

.carpets-footer__link {
  color: inherit;
}

.carpets-footer__link--icon {
  margin-right: 10px;
}

.carpets-photos {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.carpets-photos::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 330px;
  background-color: #fff;
  opacity: 0.5;
  top: 74px;
  margin: auto;
}

.carpets-photos_block {
  margin-right: 28px;
}

.carpets-photos__button {
  color: #B53A3A;
  padding: 9px 26px 9px 16px;
  z-index: 99;
}

.carpets-photos__slide {
  width: 390px;
  height: 263px;
  border-radius: 10px;
  border: 5px solid #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 27px;
  z-index: 99;
}

.carpets-photos__slide::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(44deg, #E64850, #3034A7);
  opacity: 0.5;
}

.carpets-photos__slide__img {
  width: 100%;
  height: 100%;
}

.carpets-photos__text {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */