header
  background-image: url(header/bg.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
.logo
  width: 236px
  height: 35px
.navbar
  &-border
    border-bottom: 1px solid #808080
    opacity: 0.129
  &-wrap
    padding: 32px 0 32px 0
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #424242
  &-contacts
    display: flex
    align-items: center
